DATABASE_URI=
PAYLOAD_SECRET=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_NAME=

# NextAuth
AUTH_SECRET=
AUTH_LINE_ID=
AUTH_LINE_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# ECPay
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_API_URL=
ECPAY_RETURN_URL=
ECPAY_CLIENT_BACK_URL=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Admin
ADMIN_EMAIL=
